# .coveragerc to control coverage.py
[run]
source = src
omit =
    # projects
    src/pants/ch01/*
    src/pants/chapter01bak.py
    src/pants/chapter02bak.py
    # markdown
    *.md

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    test_case.fail
